<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

    <title>Date'Art</title>

    <link rel="stylesheet" href="{{URL}}assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{URL}}assets/css/leaflet.css">
    <link rel="stylesheet" href="{{URL}}assets/css/style.css">

    <script src="{{URL}}assets/js/leaflet/leaflet.js"></script>
    <script src="{{URL}}assets/js/jquery.js"></script>
    <script src="{{URL}}assets/js/bootstrap.min.js"></script>
</head>

<body>
  <header>
    <!-- BURGER -->
    <!-- Navigation -->
    <div>
        <div class="b-nav">

            <li class="burger-choices1">
                <a class="b-link" href="{{URL}}favoris/">
                    <center class="burger-font">Favoris</center>
                </a>
            </li>
            <li class="burger-choices2">
                <a class="b-link" href="{{URL}}contact/">
                    <center class="burger-font">Contactez nous</center>
                </a>
            </li>
            <li class="burger-choices3">
                <a class="b-link" href="{{URL}}apropos/">
                    <center class="burger-font">A propos</center>
                </a>
            </li>
        </div>

        <!-- Burger-Icon -->

        <div class="b-container">
            <div class="b-menu">
                <div class="b-bun b-bun--top"></div>
                <div class="b-bun b-bun--mid"></div>
                <div class="b-bun b-bun--bottom"></div>
            </div>
        </div>

        <script src="{{URL}}assets/js/toggle.js"></script>

        <!-- END OF BURGER -->

        <a href="{{URL}}">
            <img src="{{URL}}assets/img/logoDART.svg" class="site-title" alt="Logo du site Date' Art">
        </a>


    </div>

</header>
