<html>
	<head>
	
	</head>
	
	<body>
		<br/>
		<div style="margin-left: 25px;">
			Bievenue sur la dat'Art !<br/><br/>
			Toute l'équipe de dat'Art, vous souhaite la bienvenue PSEUDO.<br/>
			<a href="URLACTIVATION">Cliquer ici pour activer votre compte</a><br/>
			ou entrez votre pseudo et la clé ci-dessous en cliquant ici<br/><br/>
			Votre Clé : CLEACTIVATION<br/><br/>
			
			Si vous rencontrez le moindre soucis pour l'activation de votre compte, n'hsitez pas a contacter un membre du Staff en utilisant le formulaire de contact<br/><br/>
			A bientôt !<br/><br/>
		</div> 
		<div style="font-size: 0.7rem;">
			<center>dat'Art 2017</center>
		</div>
	</body>

</html>